@model IEnumerable<proyecto.Models.Editoriales>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EditorialName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EditorialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EditorialID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EditorialID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EditorialID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
