@model ExamenParcial2.Models.Payments

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookings.BookingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custumers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custumers.CustomerAddressPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethods)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethods.PaymentMethod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
