@model IEnumerable<ExamenParcial2.Models.Payments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custumers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethods)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookings.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custumers.CustomerAddressPostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethods.PaymentMethod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
