@model proyecto.Models.Autores

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Autores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorNotes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
